/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, span, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   font: inherit;
   color: inherit;
   background: transparent;
 }

 .group:after {
   content: "";
   clear: both;
   display: block;
 }

 body {
   background: #fafafa;
 }

.user-form {
  position: absolute;
  font-family: Helvetica;
  font-size: 14px;
  background: #fff;
  top: 40%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: block;
  width: 375px;
  height: 275px;
  padding: 25px;
  border: 1px solid #eee;
}

.form-logo {
  font-size: 42px;
  font-family: 'Lobster Two';
  color: #2d6599;
  text-align: center;
}

.user-form form {
  margin-top: 30px;
}

.user-form input {
  display: block;
  width: 200px;
  border: 1px solid #eee;
  margin: 10px auto;;
  padding: 5px 10px;
}

.user-form button {
  display: block;
  margin: 20px auto;
  padding: 5px 10px;
  border-radius: 2px;
  background: #4090db;
  color: #fff;
  text-align: center;
  width: 200px;
}

.user-form button:hover {
  background: #2d6599;
  cursor: pointer;
}

.errors {
  color: red;
  display: block;
  width: 220px;
  margin: 15px auto;
}

.form-message {
  display: block;
  font-size: 12px;
  text-align: center;
}

.form-message a {
  color: #2d6599;
}

.form-message a:hover {
  cursor: pointer;
}

.header {
  background: #fff;
  display: block;
  border-bottom: 1px solid #eee;
}

.header-nav {
  display: block;
  width: 600px;
  margin: auto;
}

.header-logo {
  font-family: 'Lobster Two';
  font-size: 18px;
  color: #2d6599;
  display: block;
  padding: 30px 0;
  float: left;
}

.header-search {
  display: block;
  float: left;
  padding: 30px 0;
  margin-left: 120px;
}

.header-search input {
  background: #fafafa;
  border: 1px solid #eee;
  font-family: Helvetica;
  font-size: 14px;
  width: 180px;
  border-radius: 15px;
  text-align: center;
  padding: 5px
}

.header-new {
  color: #125688;
  display: block;
  float: left;
}

.header-new i {
  display: block;
}

.header-profile {
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: bold;
  padding: 30px 0;
  color: #125688;
  display: inline;
  float: right;
  position: relative;
}

.header-profile form {
  display: inline;
}

.header-profile button {
  color: #fff;
  padding: 5px 10px;
  background: #4090db;
}

.header-profile button:hover {
  cursor: pointer;
}

.header-profile i {
  display: inline;
  margin-right: 20px;
}

.header-profile-link {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.stamp-form {
  position: absolute;
  font-family: 'Montserrat';
  font-size: 14px;
  background: #fff;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 500px;
  padding: 25px;
  border: 1px solid #eee;
}

.stamp-form h1 {
  font-size: 28px;
  color: #125688;
  text-align: center;
  font-weight: bold;
}

.stamp-form input, textarea {
  display: block;
  width: 350px;
  padding: 5px;
  font-size: 14px;
  margin: 20px auto;
  border: 1px solid #eee;
}

.stamp-form img {
  width: 350px;
  display: block;
  margin: auto;
}

.stamp-form textarea {
  height: 120px;
}

.stamp-form button {
  display: block;
  margin: 20px auto;
  padding: 5px;
  border-radius: 2px;
  background: #4090db;
  color: #fff;
  text-align: center;
  width: 350px;
}

.stamp-form button:hover {
  background: #2d6599;
  cursor: pointer;
}

.stamp-list {
  display: block;
  width: 600px;
  font-family: 'Montserrat';
  margin: auto;
}

.stamp {
  display: block;
  margin: 60px 0;
  font-size: 14px;
  border: 1px solid #eee;
}

.stamp a {
  color: #125688;
  font-family: 'Montserrat';
  padding-right: 10px;
}

.stamp-head {
  padding: 20px;
}

.stamp-age {
  float: right;
  font-family: Helvetica;
  font-size: 15px;
  color: #a5a7aa;
}

.stamp img {
  display: block;
  width: 100%;
}

.stamp-body {
  color: black;
  font-family: Helvetica;
  font-size: 15px;
  padding: 20px;
}

.stamp-body a {
  color: #125688;
  font-family: 'Montserrat';
  font-size: 14px;
}

.user-info {
  box-sizing: border-box;
  padding-left: 180px;
  font-family: Helvetica;
  display: block;
  width: 600px;
  color: #4b4f54;
  margin: auto;
}

.user-info-head {
  display: block;
  margin: 40px 0;
}

.user-info h1 {
  display: block;
  float: left;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 34px;
}

.user-stat {
  display: inline;
  margin-right: 20px;
}

.user-dark {
  color: #34373b;
  font-weight: bold;
}

.user-info button {
  display: block;
  float: left;
  border-radius: 3px;
  background: #66bd2b;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 10px 0 10px 20px;
  cursor: pointer;
}

.user-info button:disabled {
  opacity: 0.5;
}
